{% load static %}
<!-- footer section start -->
<div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
   <div class="container py-5">
      <div class="row g-5 justify-content-center">
         <div class="col-lg-3 col-md-6">
            <p class="mb-2 text-center">Fire and Advanced Analytics</p>
            <h4 class="text-white mb-3 text-center"><i class="	fas fa-fire-alt"></i>F2A</h4>
            <p class="mb-2 text-center">Universidad de Chile</p>
         </div>
         <div class="col-lg-3 col-md-6">
            <h4 class="text-white mb-3">Contacto</h4>
            <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Beauchef 851, Oficina 514, Santiago, Chile</p>
            <p class="mb-2"><i class="fa fa-phone-alt me-3"></i><span class="reverse">+012 345 67890</span></p>
            <p class="mb-2"><i class="fa fa-envelope me-3"></i><span class="reverse">contact@fire2a.com</span></p>
         </div>
      </div>
   </div>
</div>