{% load static %}
<!-- footer section start -->
<div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
   <div class="container py-5">
      <div class="row g-5 justify-content-center">
         <div class="col-lg-3 col-md-6">
            <p class="mb-2 text-center">Fire Management & Advanced Analytics</p>
            <div class="mb-2 text-center">
               <img src="{% static '/img/logo_1_.png' %}" width="60" alt="" class="d-inline-block align-middle mr-2">
            </div>
            <p class="mb-2 text-center">Universidad de Chile</p>
         </div>
         <div class="col-lg-3 col-md-6">
            <h4 class="text-white mb-3">Contact</h4>
            <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Beauchef 851, Oficina 502, Santiago, Chile</p>
            <p class="mb-2"><i class="fa fa-envelope me-3"></i>felipedelabarra[at]fire2a.com</p>
         </div>
      </div>
   </div>
</div>