{% load static %}
<!-- footer section start -->
<div class="footer_section layout_padding">
    <div class="container">
       <div class="location_main">
          <div class="call_text"><img src="{% static 'images/call-icon.png' %}"></div>
          <div class="call_text"><a href="#">Call +01 1234567890</a></div>
          <div class="call_text"><img src="{% static 'images/mail-icon.png' %}"></div>
          <div class="call_text"><a href="#">demo@gmail.com</a></div>
       </div>
    </div>
 </div>