{% load static %}

<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="{% url 'index' %}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><i class="	fas fa-fire-alt"></i>F2A</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="{% url 'index' %}" class="nav-item nav-link">Home</a>
            <a class="nav-link" href="{% url 'about' %}">Our Team</a>
            <a class="nav-link" href="{% url 'papers' %}">Research</a>
            <a class="nav-link" href="{% url 'projects' %}">Projects</a>
            <a class="nav-link" href="{% url 'news' %}">News</a>
            <a class="nav-link" href="{% url 'tools' %}">Software</a>
            <a class="nav-link" href="{% url 'offers' %}">Work with us</a>
            <a class="nav-link" href="{% url 'contact_us' %}">Contact</a>
        </div>
    </div>
</nav>
<!-- Navbar End -->