{% extends 'base.html' %}
{% block title %} | ¿Quienes Somos? {% endblock %}
{% block page_name %} ¿Quienes Somos? {% endblock %}
{% load static %}
{% block content %}
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-4">Mision</h1>
                <p class="mb-4">Develope tools for blablabla</p>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-4">Vision</h1>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-4">Conoce a nuestro equipo</h1>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit.Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit</p>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit.Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit</p>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="{% static 'img/team-1.jpg' %}" alt="" style="object-fit: cover;">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Aliances -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="text-center">
        <h1 class="mb-5">Alianzas</h1>
        <p>Para lograr aportar en la toma de decisiones a nivel nacional e internacional, hemos logrado afiatar lazos con diferentes instituciones y centros. Con ellos hemos trabajado en diversos proyectos, así como también hemos aportado mutuamente en la generación de datos necesarios para seguir avanzando en la investigación sobre incendios forestales. </p>
    </div>
    <div class="row g-4 justify-content-center">
        <div class="owl-carousel testimonial-carousel position-relative">
                <div class="team-item">
                    <a href="https://isci.cl/">
                        <div class="team-item">
                            <div class="overflow-hidden">
                                <img class="img-fluid mx-auto mb-3" src="{% static 'img/isci.png' %}"style="width: 400px;">
                            </div>
                        </div>
        
                    </a>
                </div>
                <div class="team-item">
                    <a href="https://www.conaf.cl/">
                        <div class="team-item">
                            <div class="overflow-hidden">
                                <img class="img-fluid mx-auto mb-3" src="{% static 'img/conaf.png' %}" style="width: 400px;">
                            </div>
                        </div>
        
                    </a>
                </div>
                <div class="team-item">
                    <a href="https://ingenieria.uchile.cl/">
                        <div class="team-item">
                            <div class="overflow-hidden">
                                <img class="img-fluid mx-auto mb-3 center" src="{% static 'img/uchile-logo.webp' %}" style="width: 300px;">
                            </div>
                        </div>
        
                    </a>
                </div>
                <div class="team-item">
                    <a href="https://www.ctfc.cat/es/?lang=en#">
                        <div class="team-item">
                            <div class="overflow-hidden">
                                <img class="img-fluid mx-auto mb-3" src="{% static 'img/ctfc_logo.jpg' %}" style="width: 300px;">
                            </div>
                        </div>
        
                    </a>
                </div>
            </div>
        </div>
    </div>

{% if directors %}
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-5">Directores</h1>
            </div>
            <div class="row g-4 justify-content-center">
                {% for director in directors %} 
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a href="{% url 'researcher' director.id %}">
                            <div class="team-item bg-light">
                                <div class="overflow-hidden">
                                    <img class="img-fluid" src="{{ director.photo.url }}" alt="">
                                </div>
                                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                        {% if director.github %}
                                        <a class="btn btn-sm-square btn-primary mx-1" href="{{ director.github }}"><i class="fab fa-github fa-lg"></i></a>
                                        {% endif %}
                                        {% if director.linkedin %}
                                        <a class="btn btn-sm-square btn-primary mx-1" href="{{ director.linkedin }}"><i class="fab fa-linkedin fa-lg"></i></a>
                                        {% endif %}
                                        {% if director.google_scholar %}
                                        <a class="btn btn-sm-square btn-primary mx-1" href="{{ director.google_scholar }}"><i class="fa fa-graduation-cap fa-lg"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="text-center p-4">
                                    <h5 class="mb-0">{{ director.name }} {{ director.last_name }}</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

{% if investigators %}
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-5">Investigadores</h1>
            </div>
            <div class="row g-4 justify-content-center">
                {% for investigator in investigators %} 
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a href="{% url 'researcher' investigator.id %}">
                            <div class="team-item bg-light">
                                <div class="overflow-hidden">
                                    <img class="img-fluid" src="{{ investigator.photo.url }}" alt="">
                                </div>
                                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                        {% if investigator.github %}
                                        <a class="btn btn-sm-square btn-primary mx-1" href="{{ investigator.github }}"><i class="fab fa-github fa-lg"></i></a>
                                        {% endif %}
                                        {% if investigator.linkedin %}
                                        <a class="btn btn-sm-square btn-primary mx-1" href="{{ investigator.linkedin }}"><i class="fab fa-linkedin fa-lg"></i></a>
                                        {% endif %}
                                        {% if investigator.google_scholar %}
                                        <a class="btn btn-sm-square btn-primary mx-1" href="{{ investigator.google_scholar }}"><i class="fa fa-graduation-cap fa-lg"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="text-center p-4">
                                    <h5 class="mb-0">{{ investigator.name }} {{ investigator.last_name }}</h5>
                                </div>
                            </div>
                        </a>
                    </div>

                </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

{% if thesists %}
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-5">Tesistas</h1>
            </div>
            <div class="row g-4 justify-content-center">
                {% for thesist in thesists %}
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a href="{% url 'researcher' thesist.id %}">
                            <div class="team-item bg-light">
                                <div class="overflow-hidden">
                                    <img class="img-fluid" src="{{ thesist.photo.url }}" alt="">
                                </div>
                                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                        {% if thesist.github %}
                                        <a class="btn btn-sm-square btn-primary mx-1" href="{{ thesist.github }}"><i class="fab fa-github fa-lg"></i></a>
                                        {% endif %}
                                        {% if thesist.linkedin %}
                                        <a class="btn btn-sm-square btn-primary mx-1" href="{{ thesist.linkedin }}"><i class="fab fa-linkedin fa-lg"></i></a>
                                        {% endif %}
                                        {% if thesist.google_scholar %}
                                        <a class="btn btn-sm-square btn-primary mx-1" href="{{ thesist.google_scholar }}"><i class="fa fa-graduation-cap fa-lg"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="text-center p-4">
                                    <h5 class="mb-0">{{ thesist.name }} {{ thesist.last_name }}</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}


{% if unactives %}
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-5">Miembros anteriores</h1>
            </div>
            <div class="row g-4 justify-content-center">
                {% for unactive in unactives %}
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a href="{% url 'researcher' unactive.id %}">
                            <div class="team-item bg-light">
                                <div class="overflow-hidden">
                                    <img class="img-fluid" src="{{ unactive.photo.url }}" alt="">
                                </div>
                                <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                                    <div class="bg-light d-flex justify-content-center pt-2 px-1">
                                        {% if unactive.github %}
                                        <a class="btn btn-sm-square btn-primary mx-1" href="{{ unactive.github }}"><i class="fab fa-github fa-lg"></i></a>
                                        {% endif %}
                                        {% if unactive.linkedin %}
                                        <a class="btn btn-sm-square btn-primary mx-1" href="{{ unactive.linkedin }}"><i class="fab fa-linkedin fa-lg"></i></a>
                                        {% endif %}
                                        {% if unactive.google_scholar %}
                                        <a class="btn btn-sm-square btn-primary mx-1" href="{{ unactive.google_scholar }}"><i class="fa fa-graduation-cap fa-lg"></i></a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="text-center p-4">
                                    <h5 class="mb-0">{{ unactive.name }} {{ unactive.last_name }}</h5>
                                </div>
                            </div>
                        </a>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

{% endblock %}
