{% extends 'base.html' %}
{% load static %}
{% block title %} | Welcome!! {% endblock %}
{% block content %}

<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="{% static 'img/banner_5.png' %}" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h1 class="display-3 text-white animated slideInDown">Fire Management & Advanced Analytics</h1>
                            
                            <p class="fs-5 text-white mb-4 pb-2">mong the various causes of wildfires, ignition often results from failures in electrical lines. Conversely, wildfires inflict numerous types of damage, including harm to electrical lines, which can sometimes lead to power outages.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="{% static 'img/banner_1.png' %}" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h1 class="display-3 text-white animated slideInDown">Fire Management & Advanced Analytics</h1>
                            
                            <p class="fs-5 text-white mb-4 pb-2">Global warming has expanded the environmental niche of wildfires, turning these events into what is known in ecology as an 'invasive species' in some landscapes.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="{% static 'img/banner_6.png' %}" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h1 class="display-3 text-white animated slideInDown">Fire Management & Advanced Analytics</h1>
                            
                            <p class="fs-5 text-white mb-4 pb-2">Wildfires have burned vast areas and destroyed significant forest resources, making the inclusion of fire risk in forest planning shift from a best practice to an underlying necessity.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative w-100">
                    <img class="img-fluid position-absolute h-0" src="{% static 'img/index_photo.png' %}" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <h1 class="mb-4">About Us</h1>
                <p class="mb-4">We are a team dedicated to finding scientific and technological solutions to mitigate the effects of wildfires.</p>
                <p class="mb-4">Our solutions involve the development of novel methodologies through the integration of various mathematical and technological tools. These tools include machine learning for fire ignition modeling, spatially explicit wildfire simulators, fire risk metrics, species distribution models, stochastic and multiobjective optimization, and simulation-based optimization.</p>
                <p class="mb-4">The goal of our tools is to demonstrate that appropriate forest fuel management can effectively create fire-resilient landscapes while minimizing potential carbon emissions, protecting wildlife biodiversity, and ensuring the safety of human communities.</p>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- News Start -->
{% if news %}
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="text-center">
                <h1 class="mb-5"></h1>
            </div>
            <div class="text-center">
                <h1 class="mb-5">News</h1>
            </div>
            <div class="owl-carousel testimonial-carousel position-relative">
                {% for new in news %}
                <a href="{% url 'new' new.id %}"> 
                    <div class="testimonial-item text-center">
                        <div class="card-body">
                            <div class="overflow-hidden">
                                <img class="border p-2 mx-auto mb-3" src="{{ new.image.url }}">
                            </div>
                            <h5 class="card-title">{{ new.title }}</h5>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
<!-- Testimonial End -->

</div>
{% endblock %}
