{% extends 'base.html' %}
{% block title %} | {{ paper.title }} {% endblock %}
{% block page_name %} {{ paper.title }} {% endblock %}
{% block content %}
<div class="container-xxl py-5 text-center">
    <div class="container">
        <div>
            <h2>{{ paper.title }} ({{ paper.get_type_display }})</h2>
            <h4>Abstract:</h4>
            <div class="wow fadeInUp" data-wow-delay="0.3s" style="text-align:left;">
                <p class="mb-4">{{ paper.abstract|linebreaks }}</p>
            </div>
        </div>
        <div class="wow fadeInUp" data-wow-delay="0.3s">
            <h5>Publication date: {{ paper.date }}</h5>
            <a href="{{ paper.link }}">Original link</a>
        </div>
        {% if paper.file %}
        <div>
            <a href="/media/{{paper.file }}" download>
                <button class="btn btn-primary">Download</button>
            </a>
        </div>
        {% endif %}
        
        {% if paper.authors.all %}
        <div class="wow fadeInUp" data-wow-delay="0.3s">
            <h4>Authors:</h4>
            {% for author in paper.authors.all %}
                <div class="wow fadeInUp" data-wow-delay="0.3s">
                    <a href="{% url 'researcher' author.id %}">{{ author.name }} {{author.last_name}}</a>
                </div>    
            {% endfor %}
        </div>
            
        {% endif %}
        
        {% if paper.topic.all %}
        <div class="wow fadeInUp" data-wow-delay="0.3s">
            <h4>Topics:</h4>
            {% for research in paper.topic.all %}
            <div>
                <a href="{% url 'research' research.id %}">{{ research.name }}</a>
            </div> 
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}