{% extends 'base.html' %}
{% block title %} | {{ researcher.name }} {{ researcher.last_name }} {% endblock %}
{% block page_name %} {{ researcher.name }} {{ researcher.last_name }} {% endblock %}
{% block content %}
<div class="container-xxl py-5 text-center">
        <h4>{{ researcher.name }} {{ researcher.last_name }} </h4>
    <div>
        <img class="border p-2 mx-auto mb-3 " width="25%" src="{{ researcher.photo.url }}">
        <h4>Biografía:</h4>
        <div class="card">
            <div class="card-body">
                <p class="text-justify">{{ researcher.bio|linebreaks }}</p>
            </div>
            
        </div>     
    </div>
    <div>
        {{ mail }} [at] {{ domain }}
    </div>


    {% if researcher.google_scholar %}
        <div>
            <a href="{{ researcher.google_scholar }}">Google Scholar</a>
        </div>
    {% endif %}
    
    {% if researcher.orcid %}
    <div>
        <a href="{{ researcher.orcid }}">Orcid</a>
    </div>
    {% endif %}

    {% if researcher.papers.all %}
        <h4>Papers:</h4>
            {% for paper in researcher.papers.all %}
            <div>
                <a href="{% url 'paper' paper.id %}">{{ paper.title }}</a>
            </div>
            {% endfor %}   
    {% endif %}
    
    {% if researcher.projects.all %}
        <h4>Proyectos:</h4>
        {% for project in researcher.projects.all %}
            <div>
                <a href="{% url 'project' project.id %}">{{ project.name }}</a>
            </div>    
        {% endfor %}
    {% endif %}
    
    {% if researcher.research_line.all %}
        <h4>Lineas de investigacion:</h4>
        {% for research in researcher.research_line.all %}
            <div>
                <a href="{% url 'research' research.id %}">{{ research.name }}</a>
            </div>
        {% endfor %}
    {% endif %}
    
    {% if researcher.news.all %}
        <h4>Noticias:</h4>
        {% for new in researcher.news.all %}
            <div>
                <a href="{% url 'new' new.id %}">{{ new.title }}</a>
            </div>    
        {% endfor %}
    {% endif %}
    
    {% if researcher.tools.all %}
        <h4>Herramientas:</h4>
        {% for tool in researcher.tools.all %}
            <div>
                <a href="">{{ tool.name }}</a>
            </div>    
        {% endfor %}
    {% endif %}
    
</div>

{% endblock %}