{% extends 'base.html' %}
{% block title %} | Noticias {% endblock %}
{% block page_name %} Noticias {% endblock %}

{% block content %}

<div class="container-xxl py-5 wow fadeInUp">
    <div class="container">
        <div class="text-center">
            <h1 class="mb-3">Noticias</h1>
            <p>Con la intención de aportar y ser parte del acontecer nacional e internacional, mostramos en esta sección las noticias relacionadas a nuestros temas de investigación, así como también la participación y aportes de los investigadores del Fire Advanced Analytics en distintos medios de comunicación.</p>
        </div>
        {% if news %}
            <div class="owl-carousel testimonial-carousel position-relative">
                {% for new in news %}
                <a href="{% url 'new' new.id %}">
                    <div class="testimonial-item text-center">
                        <div class="card-body">
                            <div class="overflow-hidden">
                                <img class="border p-2 mx-auto mb-3" src="{{ new.image.url }}">
                            </div>
                            <h5 class="card-title">{{ new.title }}</h5>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {% if featured %}
    <div class="container">
        <div class="text-center">
            <h2 class="mb-3">Destacadas</h1>
        </div>
            <div class="owl-carousel testimonial-carousel position-relative">
                {% for new in featured %}
                <a href="{% url 'new' new.id %}">
                    <div class="testimonial-item text-center">
                        <div class="card-body">
                            <div class="overflow-hidden">
                                <img class="border p-2 mx-auto mb-3" src="{{ new.image.url }}">
                            </div>
                            <h5 class="card-title">{{ new.title }}</h5>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
        

{% endblock %}

