{% extends 'base.html' %}
{% block title %} | News {% endblock %}
{% block page_name %} News {% endblock %}

{% block content %}

<div class="container-xxl py-5 wow fadeInUp">
    {% if events %}
    <div class="container">
        <div class="text-center">
            <h1 class="mb-3">Events</h1>
            <p>With the intention of contributing and being part of the national and international events, we show in this section the news related to our research topics, as well as the participation and contributions of Fire Advanced Analytics researchers in different media.</p>
        </div>
            <div class="owl-carousel testimonial-carousel position-relative">
                {% for new in events %}
                <a href="{% url 'new' new.id %}">
                    <div class="testimonial-item text-center">
                        <div class="card-body">
                            <div class="overflow-hidden">
                                <img class="border p-2 mx-auto mb-3" src="{{ new.image.url }}">
                            </div>
                            <h5 class="card-title">{{ new.title }}</h5>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        
    </div>
    {% endif %}

    <div class="container">
        <div class="text-center">
            <h1 class="mb-3">Fire2A in the media</h1>
        </div>
        {% if news %}
            <div class="owl-carousel testimonial-carousel position-relative">
                {% for new in news %}
                <a href="{% url 'new' new.id %}">
                    <div class="testimonial-item text-center">
                        <div class="card-body">
                            <div class="overflow-hidden">
                                <img class="border p-2 mx-auto mb-3" src="{{ new.image.url }}">
                            </div>
                            <h5 class="card-title">{{ new.title }}</h5>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    {% if featured %}
    <div class="container">
        <div class="text-center">
            <h2 class="mb-3">Featured</h1>
        </div>
            <div class="owl-carousel testimonial-carousel position-relative">
                {% for new in featured %}
                <a href="{% url 'new' new.id %}">
                    <div class="testimonial-item text-center">
                        <div class="card-body">
                            <div class="overflow-hidden">
                                <img class="border p-2 mx-auto mb-3" src="{{ new.image.url }}">
                            </div>
                            <h5 class="card-title">{{ new.title }}</h5>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</div>
        

{% endblock %}

